<html>

<head>
    <title>Cucumber</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <meta name="viewport" content="width=320, initial-scale=1.0"/>
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="row">
                <div class="w-2">
                    <div id="logo">
                        <img class="logos" src="images/Logo.png" alt="Logo">
                    </div>
                </div>
                <div class="w-2 align-right">
                    <div id="search">
                        <div id="search-in" class="flex">
                            <input type="text" placeholder="Search">
                            <button>Submit</button>
                        </div>
                    </div>
                    <div class="hm" id="menu">
                        <input id="mt" type="checkbox" />
                        <label class="mb" for="mt">
                            <span></span>
                        </label>
                        <ul class="menubox">
                            <li><a class="menui" href="index.html">Home</a></li>
                            <li><a class="menui" href="">Company Profile</a></li>
                            <li><a class="menui" href="products.html">Products</a></li>
                            <li><a class="menui" href="">Services</a></li>
                            <li><a class="menui" href="">R & D</a></li>
                            <li><a class="menui" href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="products" class="content2">
        <div class="wrapper">
            <div class="row">
                <div class="return">
                    <img src="images/Arrow.png" alt="">
                    <div class="p_text"><a href="products.html">Return to all tomatoes</a></div>
                </div>
                <div class="w-2">
                    <div class="p_title">
                        <h1>{{product.title}}
                            <span>{{product.short_text}}</span> 
                        </h1>
                    </div>
                    
                    <div class="p_star">*****</div>
                    <div class="p_high">
                        <img src="images/tomatos.png" alt="">
                        <div class="p_text2">Very high yield and excellent fruits quality!</div>
                    </div>
                    <p class="p_charac">CHARACTERISTICS</p>
                    <p class="p_lines"></p>
                    <div class="p_comp">
                        <ul>
                            <li><b>Resistance</b></li>
                            <li>HR: ToMV:0-2; Fol: 1,2; Ve/Vd;</li>
                            <li>IR: TYLCV</li>
                        </ul>
                    </div>
                    <p class="p_charac">Plant</p>
                    <p class="p_lines"></p>
                    <div class="p_compound">
                        <ul>
                            <li><span>Strong vigor that provides good leaf coverage.</span></li>
                            <li><span>Very high productivity with good fruit setting.</span></li>
                            <li><span>Early matured variety.</span></li>
                        </ul>
                    </div>
                    <p class="p_charac">Fruit</p>
                    <p class="p_lines"></p>
                    <div class="p_compound">
                        <ul>
                            <li><span>Long shelf life on plant and post harvest.</span></li>
                            <li><span>Nice shiny attractive deep red color.</span></li>
                            <li><span>Average fruit size: 140 – 160 grams.</span></li>
                        </ul>
                    </div>
                </div>
                <div class="w-2">
                    <div class="imagee">
                        <img   :src=product.image alt="">
                    </div>
                    
                    <div class="p_button">
                        <a  href="#" @click.prevent="addToCart (product.id)" v-if="!btnVisible">Add to cart</a>
                        <a  href="contact.html" v-if="btnVisible">Go to cart</a>
                    </div>
                    <p class="p_charac2">Cycle</p>
                    <p class="p_lines2"></p>
                    <div class="p_compound2">
                        <ul>
                            <li><span>Spring</span></li>
                            <li><span>Fall</span></li>
                            <li><span>Winter</span></li>
                        </ul>
                    </div>
                    <p class="p_charac2">Color</p>
                    <p class="p_lines2"></p>
                    <div class="p_comp2">
                        <ul>
                            <li>Red</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <div class="footer">
        <div class="footer1">
            <div class="text71">
                <ul>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Management</a></li>
                    <li><a href="products.html">Products</a></li>
                    <li><a href="#">R&D</a></li>
                    <li><a href="#">Links</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="icon">
                <a href="#"><img class="icon1" src="images/Ico_in.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/Ico_inst.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/Ico_tube.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/tw.png" alt=""></a>
                <a href="#"><img class="icon1" src="images/Ico_fb.png" alt=""></a>
            </div>
        </div>
        <div class="footer2">
            <div class="text52">AGRIDERA SEEDS & AGRICULTURE LTD. © 2020</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>